<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Instagram</h2>
    {% for i in params %}

            <div class="post-preview">
                <p>{{insta[i][0]}} &nbsp; {{insta[i][1]}} &nbsp; {{insta[i][2]}}</p>
            </div>
            <hr>
        {% endfor %}
        <h2>Facebook</h2>
        {% for i in params %}
            <div class="post-preview">
                <p>{{faceb[i][0]}} &nbsp; {{faceb[i][1]}} &nbsp; {{faceb[i][2]}}</p>
            </div>
            <hr>
        {% endfor %}
        <h2>Twitter</h2>
        {% for i in params %}
            <div class="post-preview">
                <p>{{tweet[i][0]}} &nbsp; {{tweet[i][1]}} &nbsp; {{tweet[i][2]}}</p>
            </div>
            <hr>
        {% endfor %}
</body>
</html>